@import "tailwindcss";

.formationContainer {
    @apply flex flex-col items-stretch w-103 h-191 pt-55;
    @apply bg-[url('/src/assets/images/tournament_page/card_formation_background.png')] bg-size-[100%] bg-center bg-no-repeat relative;

    .formationTitle {
        @apply text-white text-2xl leading-10 absolute top-5 self-center;
    }

    .formationSquare {
        @apply relative size-79.5 flex items-center justify-center self-center mb-27;
        .formationSquareBackground {
            @apply absolute inset-0 size-full z-0;
            @apply bg-[url('/src/assets/images/tournament_page/card_formation_magic_background.png')] bg-contain bg-no-repeat;
            background-position-x: center;
            background-position-y: bottom;
        }

        .formationSquareBackgroundSpin {
            @apply animate-[spin_5s_linear_infinite];
        }

        .formationCard {
            @apply cursor-pointer absolute rounded-xl left-1/2 top-1/2 z-10;
        }

        .emptyCard {
            @apply w-27 h-41;
            @apply bg-[url('/src/assets/images/home_page/card_formation_plus_icon.png')] bg-contain bg-top-left bg-no-repeat;
        }

        /* 五角星五角定位，顺时针从顶部开始，且卡片始终与屏幕x轴垂直 */
        .formationCard1 {
            @apply rotate-0;
            transform: translate(-50%, -50%) rotate(0deg) translateY(-10rem) rotate(-0deg);
        }

        .formationCard2 {
            @apply rotate-0;
            transform: translate(-50%, -50%) rotate(72deg) translateY(-9rem) rotate(-72deg);
        }

        .formationCard3 {
            @apply rotate-0;
            transform: translate(-50%, -50%) rotate(144deg) translateY(-9rem) rotate(-144deg);
        }

        .formationCard4 {
            @apply rotate-0;
            transform: translate(-50%, -50%) rotate(216deg) translateY(-9rem) rotate(-216deg);
        }

        .formationCard5 {
            @apply rotate-0;
            transform: translate(-50%, -50%) rotate(288deg) translateY(-9rem) rotate(-288deg);
        }
    }

    .openPackButton {
        @apply w-63.5 h-21 text-[#2D1813] text-2xl;
        @apply bg-[url('/src/assets/images/common/button_background.png')] bg-top-left bg-no-repeat self-center;
        background-size: 100% 100%;
    }
}
