@import "tailwindcss";


.card {
    @apply p-0 cursor-pointer will-change-transform;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transform-origin: center;
    position: relative;
    box-sizing: border-box;
}

.card0 {
    @apply bg-[var(--color-rarity-normal)];
}

.card1 {
    @apply bg-[var(--color-rarity-rare)];
}

.card2 {
    @apply bg-[var(--color-rarity-epic)];
}

.card3 {
    @apply bg-[var(--color-rarity-legendary)];
}

.cardFront,
.cardBack {
    @apply flex w-full h-full absolute backface-hidden text-2xl  rounded-lg;
    box-sizing: border-box;

    .cardContent {
        @apply w-full h-full rounded-lg overflow-hidden;

        & > img {
            @apply w-full h-full object-cover ;
        }
    }
}

.cardFront {
    @apply border border-[#ccc] bg-[#DDD];
}

.cardBack {
    @apply p-0.5;
    transform: rotateY(180deg);
}
