@import "tailwindcss";


.card {
    @apply p-0 cursor-pointer will-change-transform shrink-0;
    @apply w-71.5 h-103.5;
    transform-style: preserve-3d;
    transform-origin: center;
    position: relative;
    box-sizing: border-box;
}

.cardFront,
.cardBack {
    @apply w-full h-full absolute backface-hidden box-border;
}

.cardFront {
    @apply bg-[url('/src/assets/images/cards/card_background.png')] bg-contain bg-center bg-no-repeat;
}

.cardBack {
    transform: rotateY(180deg);

    .cardBackBorder {
        @apply absolute top-0 left-0 w-full h-full bg-contain bg-center bg-no-repeat z-[1];
    }

    .cardBackRarity0 {
        @apply bg-[url('/src/assets/images/cards/card_border_0.png')];
    }

    .cardBackRarity1 {
        @apply bg-[url('/src/assets/images/cards/card_border_1.png')];
    }

    .cardBackRarity2 {
        @apply bg-[url('/src/assets/images/cards/card_border_2.png')];
    }

    .cardBackRarity3 {
        @apply bg-[url('/src/assets/images/cards/card_border_3.png')];
    }

    .cardContent {
        @apply absolute w-full h-full rounded-lg overflow-hidden z-[2];

        .cardNameWrapper {
            @apply absolute w-42 h-9.5 flex items-center justify-center;
        }

        .cardName {
            @apply w-40 text-[#F3E838] text-2xl font-normal whitespace-pre overflow-hidden text-center;
        }

        .cardScore {
            @apply rounded-full size-12 absolute text-white text-2xl font-black text-shadow-teal-400 text-center flex items-center justify-center;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        .undetectedCardScorePosition {
            @apply font-sans;
        }
    }

    .cardContentRarity0 {
        .cardScorePosition {
            @apply top-13 left-2;
        }

        .cardNameWrapper {
            @apply top-81 left-12.5;
        }
    }

    .cardContentRarity1 {
        .cardScorePosition {
            @apply top-13.5 left-3;
        }

        .cardNameWrapper {
            @apply top-81.5 left-14;
        }
    }

    .cardContentRarity2 {
        .cardScorePosition {
            @apply top-13.5 left-2.5;
        }

        .cardNameWrapper {
            @apply top-81.5 left-14;
        }
    }

    .cardContentRarity3 {
        .cardScorePosition {
            @apply top-13.5 left-2.5;
        }

        .cardNameWrapper {
            @apply top-83 left-13.5;
        }
    }

    .cardImage {
        @apply absolute top-20 left-8 w-7/10 h-7/10 z-0 bg-no-repeat bg-contain bg-center;
    }
}

.glow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%) scale(0.85);
    pointer-events: none;
    border-radius: 18px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: -1;
}

.glowRarity1 {
    box-shadow: 0 0 32px 12px #5fd6ff, 0 0 64px 24px #a0e8ff;
}

.glowRarity2 {
    box-shadow: 0 0 32px 12px #7f5fff, 0 0 64px 24px #aab6ff;
}

.glowRarity3 {
    box-shadow: 0 0 32px 12px #ffd86b, 0 0 64px 24px #fff2a0;
}

.card:hover {
    .glow {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.85);
        transition: opacity 0.3s, transform 0.3s;
    }
}

