@import "tailwindcss";

@font-face {
    font-family: 'Duvall';
    src: url('./assets/fonts/Duvall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-duvall: "Duvall", "sans-serif";
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

    --animate-fade-in: fade-in 0.5s ease-in-out;
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    --animate-fade-out: fade-out 0.5s ease-in-out;
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

html {
    @apply font-duvall tracking-wider;
}

:root {
    @apply: p-0;
}
