@import "tailwindcss";

.pageContainer {
    @apply grow shrink basis-0 overflow-hidden flex flex-col items-stretch;
    @apply bg-[url('/src/assets/images/gallery_page/background.png')] bg-cover bg-top-left bg-no-repeat;

    .pageHeader {
        @apply shrink-0 flex items-center justify-between pl-17.5 pr-18.5 pt-5 pb-7.5;

        .backButton {
            @apply cursor-pointer size-16 active:scale-95 transition;
            @apply bg-[url('/src/assets/images/common/back_icon.png')] bg-cover bg-top-left bg-no-repeat;
        }

        .headerTitle {
            @apply text-4xl font-normal;
            background: linear-gradient(to bottom, #FFAF00, #F3C358);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .searchBox {
            @apply text-white text-2xl font-normal leading-10 ;
            @apply w-125.5 h-18 flex items-center bg-[#251812] rounded-2xl px-4 border-2 border-[#54382F];

            .searchIcon {
                @apply size-8 mr-4;
                @apply bg-[url('/src/assets/images/home_page/cards_bag_modal/magnifier.png')] bg-contain bg-top-left bg-no-repeat;
            }

            .searchInput {
                @apply bg-transparent outline-none border-none w-full text-white placeholder-[#62463B];
            }
        }
    }

    .pageBody {
        @apply grow shrink basis-0 overflow-hidden flex items-stretch pb-10 pr-18.5;

        .toolContainer {
            @apply shrink-0 flex flex-col items-end pl-17.5 pt-3 gap-y-5 text-[#C8C3B7] text-2xl font-normal leading-10;

            & > div {
                @apply cursor-pointer flex items-center justify-center rounded-md bg-[#47413C];
            }

            .season {
                @apply w-56.5 h-25.5;
            }

            .raritySelect {
                @apply w-51 h-20;
            }

            .raritySelected {
                @apply border-r-8 border-white text-[#030201];
                background: linear-gradient(to right, #F79F00, #FFC512);
            }
        }

        .cardsPart {
            @apply grow shrink basis-0 flex flex-col items-stretch overflow-y-auto overflow-x-hidden mr-8.5;
            /* 自定义滚动条样式 */
            scrollbar-width: thin;
            scrollbar-color: #7D6F53 transparent;

            &::-webkit-scrollbar {
                width: 11px;
                height: 262px;
            }

            &::-webkit-scrollbar-thumb {
                background: #7D6F53;
                border-radius: 8px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-button {
                display: none;
                height: 0;
                width: 0;
            }

            .loadingWrapper {
                @apply h-125 flex items-center justify-center text-lg text-yellow-600;
            }

            .cardListContainer {
                @apply grid gap-x-0 justify-items-center gap-y-11 pt-11 pb-4 pl-17 pr-17;
            }

            .cardListContainerBrowseType {
                @apply grid-cols-3;
            }

            .cardListContainerSelectType {
                @apply grid-cols-5;
            }
        }

        .detailPartWrapper {
            @apply shrink-0 flex flex-col items-stretch transition-all duration-300 w-125 overflow-hidden;
            @apply bg-[url('/src/assets/images/gallery_page/detail_background.png')] bg-cover bg-top-left bg-no-repeat;

            .detailTitle {
                @apply self-center shrink-0 w-100 h-14 text-[#64401E] text-3xl font-normal leading-10 flex items-center justify-center mb-3;
                @apply bg-[url('/src/assets/images/gallery_page/detail_title_background.png')] bg-contain bg-top-left bg-no-repeat;
            }

            .detailImagePart {
                @apply self-center shrink-0 w-87 h-76.5 mb-2 bg-gray-500 rounded-2xl object-cover object-left-top;
            }

            .detailBottomPart {
                @apply shrink grow basis-0 overflow-hidden flex flex-col items-center relative;
            }
        }
    }
}

.detailBottomPart {
    .detailUndetectedPart {
        @apply grow shrink basis-0 flex flex-col items-center text-[#64401E] text-2xl leading-10 font-normal px-23 text-center pt-11;
    }
    .detailName {
        @apply px-10 shrink-0 text-[#292522] text-xl font-normal leading-normal text-center -mb-1;
    }
}

.detailInfoPart {
    @apply leading-6 grow shrink basis-0 self-stretch px-10 text-xl font-normal flex flex-col items-stretch overflow-x-hidden overflow-y-auto mb-4;

    & > div {
        @apply flex items-start;

        & > div:first-child {
            @apply w-30.5 text-[#AD613F] shrink;
        }

        & > div:last-child {
            @apply grow shrink basis-0 overflow-hidden text-[#64401E] whitespace-pre-wrap;
        }
    }
}

.scorePart {
    @apply h-38.5 py-4.5 gap-y-1 shrink-0 self-stretch mx-8 text-xl font-black italic flex flex-col items-stretch overflow-hidden mb-5 bg-[#DBC788] border-b-2 border-[#64401E];

    & > div {
        @apply flex items-center;

        & > div:first-child {
            @apply w-30.5 text-[#AD613F] flex-1 flex items-center justify-end;
        }

        & > div:last-child {
            @apply pl-4 flex-1 text-[#64401E];
        }
    }
}

.viewDetailButton {
    @apply shrink-0 cursor-pointer w-87 h-17 flex items-center justify-center text-2xl font-normal leading-10 mb-4 active:scale-95 transition;
    @apply bg-[url('/src/assets/images/gallery_page/view_detail_button_background.png')] bg-contain bg-top-left bg-no-repeat;

    .viewDetailText {
        background: linear-gradient(to bottom, #FEB109, #F2C661);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.viewDetailButtonDisabled {
    @apply shrink-0 cursor-not-allowed w-87 h-17 flex items-center justify-center text-2xl font-normal leading-10 mb-4 active:scale-95 transition;
    @apply bg-[url('/src/assets/images/gallery_page/view_detail_button_background_disabled.png')] bg-contain bg-top-left bg-no-repeat;


    & > div {
        @apply text-white;
    }
}
