@import "tailwindcss";

.pageContainer {
    @apply grow shrink basis-0 overflow-hidden flex flex-col items-stretch;
    @apply bg-[url('/src/assets/images/gallery_page/background.png')] bg-cover bg-top-left bg-no-repeat;

    .pageHeader {
        @apply shrink-0 flex items-center justify-between pl-[70px] pr-[74px] pt-[20px] pb-[30px];

        .backButton {
            @apply cursor-pointer size-16 active:scale-95 transition;
            @apply bg-[url('/src/assets/images/gallery_page/close_icon.png')] bg-cover bg-top-left bg-no-repeat;
        }

        .headerTitle {
            @apply text-[42px] font-normal;
            background: linear-gradient(to bottom, #FFAF00, #F3C358);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .searchBox {
            @apply text-white text-[24px] font-normal leading-[40px] ;
            @apply w-[502px] h-[72px] flex items-center bg-[#251812] rounded-2xl px-4 border-[2px] border-[#54382F];

            .searchIcon {
                @apply size-8 mr-4;
                @apply bg-[url('/src/assets/images/home_page/cards_bag_modal/magnifier.png')] bg-contain bg-top-left bg-no-repeat;
            }

            .searchInput {
                @apply bg-transparent outline-none border-none w-full text-white placeholder-[#62463B];
            }
        }
    }

    .pageBody {
        @apply grow shrink basis-0 overflow-hidden flex items-stretch pb-10 pr-[74px];

        .toolContainer {
            @apply shrink-0 flex flex-col items-end pl-[70px] pt-3 gap-y-5 text-[#C8C3B7] text-[24px] font-normal leading-[40px];

            & > div {
                @apply cursor-pointer flex items-center justify-center rounded-md bg-[#47413C];
            }

            .season {
                @apply w-[226px] h-[102px];
            }

            .raritySelect {
                @apply w-[204px] h-[80px];
            }

            .raritySelected {
                @apply border-r-[8px] border-white text-[#030201];
                background: linear-gradient(to right, #F79F00, #FFC512);
            }
        }

        .cardsPart {
            @apply grow shrink basis-0 flex flex-col items-stretch overflow-y-auto overflow-x-hidden mr-[34px];
            /* 自定义滚动条样式 */
            scrollbar-width: thin;
            scrollbar-color: #7D6F53 transparent;

            &::-webkit-scrollbar {
                width: 11px;
                height: 262px;
            }

            &::-webkit-scrollbar-thumb {
                background: #7D6F53;
                border-radius: 8px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-button {
                display: none;
                height: 0;
                width: 0;
            }

            .loadingWrapper {
                @apply h-[500px] flex items-center justify-center text-lg text-yellow-600;
            }

            .cardListContainer {
                @apply grid grid-cols-3 gap-x-16 gap-y-11 pt-11 pb-4 pl-[68px] pr-[68px];
            }
        }

        .detailPartWrapper {
            @apply shrink-0 flex flex-col items-stretch transition-all duration-300 w-[500px] overflow-hidden;
            @apply bg-[url('/src/assets/images/gallery_page/detail_background.png')] bg-cover bg-top-left bg-no-repeat;

            .detailTitle {
                @apply self-center shrink-0 w-[400px] h-[55px] text-[#64401E] text-[32px] font-normal leading-[40px] flex items-center justify-center mb-3;
                @apply bg-[url('/src/assets/images/gallery_page/detail_title_background.png')] bg-contain bg-top-left bg-no-repeat;
            }

            .detailImagePart {
                @apply self-center shrink-0 w-[348px] h-[305px] mb-2 bg-gray-500 rounded-2xl object-cover object-left-top;
            }

            .detailBottomPart {
                @apply shrink grow basis-0 overflow-hidden flex flex-col items-center relative;
            }
        }
    }
}

.detailBottomPart {
    .detailUndetectedPart {
        @apply grow shrink basis-0 flex flex-col items-center text-[#64401E] text-[26px] leading-10 font-normal px-[92px] text-center pt-11;
    }
    .detailName {
        @apply shrink-0 text-[#292522] text-[22px] font-normal leading-[40px] -mb-1;
    }
}

.detailInfoPart {
    @apply leading-6 grow shrink basis-0 self-stretch px-10 text-[20px] font-normal flex flex-col items-stretch overflow-x-hidden overflow-y-auto mb-4;

    & > div {
        @apply flex items-start;

        & > div:first-child {
            @apply w-[122px] text-[#AD613F] shrink;
        }

        & > div:last-child {
            @apply grow shrink basis-0 overflow-hidden text-[#64401E] whitespace-pre-wrap;
        }
    }
}

.scorePart {
    @apply h-[153px] py-[18px] gap-y-1 shrink-0 self-stretch mx-8 text-[22px] font-black italic flex flex-col items-stretch overflow-hidden mb-5 bg-[#DBC788] border-b-[2px] border-[#64401E];

    & > div {
        @apply flex items-center;

        & > div:first-child {
            @apply w-[122px] text-[#AD613F] flex-1 flex items-center justify-end;
        }

        & > div:last-child {
            @apply pl-4 flex-1 text-[#64401E];
        }
    }
}

.viewDetailButton {
    @apply shrink-0 cursor-pointer w-[348px] h-[68px] flex items-center justify-center text-[27px] font-normal leading-[40px] mb-4 active:scale-95 transition;
    @apply bg-[url('/src/assets/images/gallery_page/view_detail_button_background.png')] bg-contain bg-top-left bg-no-repeat;

    .viewDetailText {
        background: linear-gradient(to bottom, #FEB109, #F2C661);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.viewDetailButtonDisabled {
    @apply shrink-0 cursor-not-allowed w-[348px] h-[68px] flex items-center justify-center text-[27px] font-normal leading-[40px] mb-4 active:scale-95 transition;
    @apply bg-[url('/src/assets/images/gallery_page/view_detail_button_background_disabled.png')] bg-contain bg-top-left bg-no-repeat;


    & > div {
        @apply text-white;
    }
}
