@import "tailwindcss";

.overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
}

.modalContent {
    @apply w-243.5 h-197 flex flex-col items-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pt-14 pl-14 pr-16.5 focus-visible:outline-none;
    @apply bg-[url('/src/assets/images/gallery_page/view_detail_modal_background.png')] bg-contain bg-left-top bg-no-repeat;

    .title {
        @apply shrink-0 w-117.5 h-16 text-[#64401E] text-[36px] font-normal leading-6 flex items-center justify-center mb-11;
        @apply bg-[url('/src/assets/images/gallery_page/detail_title_background.png')] bg-cover bg-top-left bg-no-repeat;
    }

    .content {
        @apply cursor-pointer self-stretch grow shrink basis-0 overflow-x-hidden overflow-y-auto text-[#64401E] text-[20px] font-normal leading-6;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome/Safari */
        }
    }

    .line {
        @apply self-stretch h-1.5 mb-10.5;
        @apply bg-[url('/src/assets/images/gallery_page/divide_line.png')] bg-cover bg-top-left bg-no-repeat;
    }

    .button {
        @apply mb-13 shrink-0 cursor-pointer w-87 h-17 flex items-center justify-center text-[27px] font-normal leading-10 active:scale-95 transition;
        @apply bg-[url('/src/assets/images/gallery_page/view_detail_button_background.png')] bg-contain bg-top-left bg-no-repeat;

        .buttonText {
            background: linear-gradient(to bottom, #FEB109, #F2C661);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
