@import "tailwindcss";

.overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
}

.modalContent {
    @apply transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 absolute flex flex-col items-stretch focus-visible:outline-none pt-22 pr-12.5 pb-10;
    @apply w-450 h-248.5;
    @apply bg-[url('/src/assets/images/home_page/cards_bag_modal/background.png')] bg-cover bg-top-left bg-no-repeat;

    .title {
        @apply text-4xl text-[#E6C7A4] font-normal leading-10 absolute top-5 left-55;
    }

    .closeBtn {
        @apply cursor-pointer size-37 absolute -right-6.5 top-2.5;
        @apply bg-[url('/src/assets/images/common/close_icon.png')] bg-contain bg-top-left bg-no-repeat;
    }

    .contentBody {
        @apply grow shrink basis-0 overflow-hidden flex flex-row items-stretch;

        .sidebar {
            @apply shrink-0 flex flex-col gap-4 items-center pt-23 w-39;

            .sidebarBtn {
                @apply w-full text-2xl leading-10 font-normal text-[#62463B]  hover:bg-gray-200 hover:text-gray-800 disabled:opacity-60 disabled:cursor-not-allowed;
            }

            .active {
                @apply focus-visible:outline-none;
                background: linear-gradient(to bottom, #DFAC59, #EFD992);
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 10px #FFB75C;
            }
        }
    }
}
