@import "tailwindcss";

.overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
}

.contentContainer {
    @apply transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 absolute flex flex-col items-center justify-start pt-[204px];
    @apply w-[1534px] h-[866px];
    @apply bg-[url(/src/assets/images/home_page/battle_modal/background.png)] bg-contain bg-center bg-no-repeat;

    .title {
        @apply absolute top-[18px] text-[90px] font-normal text-[#FFAF00];
        background: linear-gradient(to bottom, #FFAF00, #F3C358); /* 渐变色 */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text; /* 部分浏览器支持 */
        color: transparent;
    }

    .closeButton {
        @apply absolute top-[104px] right-[68px] w-[74px] h-[80px] z-10;
        @apply bg-[url(/src/assets/images/home_page/battle_modal/close_icon.png)] bg-contain bg-center bg-no-repeat;
    }

    .blocksWrapper {
        @apply flex flex-row items-center justify-center gap-x-12;
    }
}


.block {
    @apply flex flex-col items-center;

    .blockContent {
        @apply flex flex-col items-center w-[374px] h-[488px] mb-5 pt-20 relative;
        @apply bg-[url(/src/assets/images/home_page/battle_modal/block_background.png)] bg-contain bg-center bg-no-repeat;

        .blockTitle {
            @apply text-[32px] leading-10 font-normal text-[#FFAF00] mb-[200px];
            background: linear-gradient(to bottom, #FFAF00, #F3C358); /* 渐变色 */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text; /* 部分浏览器支持 */
            color: transparent;
        }

        .blockImage {
            @apply size-[250px] absolute top-[96px] z-0;
            @apply bg-contain bg-center bg-no-repeat;
        }

        .blockDesc {
            @apply px-11 text-[#4C3110] text-[18px] leading-[22px] font-normal;
        }
    }

    .blockBtn {
        @apply w-[284px] h-[72px] flex items-center justify-center;
        @apply bg-[url(/src/assets/images/home_page/battle_modal/block_btn_background.png)] bg-contain bg-center bg-no-repeat;

        & > div {
            @apply text-2xl leading-10 font-normal text-white;
            text-shadow: -2px -2px 0 #4C3110,
            2px -2px 0 #4C3110,
            -2px 2px 0 #4C3110,
            2px 2px 0 #4C3110,
            0 -2px 0 #4C3110,
            0 2px 0 #4C3110,
            -2px 0 0 #4C3110,
            2px 0 0 #4C3110;
        }
    }

    .blockBtnDisabled {
        @apply cursor-not-allowed;
        @apply bg-[url(/src/assets/images/home_page/battle_modal/block_btn_background_disabled.png)];
    }
}
