@import "tailwindcss";

.overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
}

.contentContainer {
    @apply transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 absolute flex flex-col items-center justify-start pt-51;
    @apply w-383.5 h-216.5;
    @apply bg-[url(/src/assets/images/home_page/battle_modal/background.png)] bg-contain bg-center bg-no-repeat;

    .title {
        @apply absolute top-4.5 text-7xl font-normal text-[#FFAF00];

        text-shadow: -2px -2px 0 #4C3110,
        2px -2px 0 #4C3110,
        -2px 2px 0 #4C3110,
        2px 2px 0 #4C3110,
        0 -2px 0 #4C3110,
        0 2px 0 #4C3110,
        -2px 0 0 #4C3110,
        2px 0 0 #4C3110;
    }

    .closeButton {
        @apply absolute size-37 right-0 top-14 z-10;
        @apply bg-[url('/src/assets/images/common/close_icon.png')] bg-contain bg-top-left bg-no-repeat;
    }

    .blocksWrapper {
        @apply flex flex-row items-center justify-center gap-x-12;
    }
}


.block {
    @apply flex flex-col items-center;

    .blockContent {
        @apply flex flex-col items-center w-93.5 h-122 mb-5 pt-20 relative;
        @apply bg-[url(/src/assets/images/home_page/battle_modal/block_background.png)] bg-contain bg-center bg-no-repeat;

        .blockTitle {
            @apply text-3xl leading-10 font-normal text-[#FFAF00] mb-50;

            text-shadow: -2px -2px 0 #4C3110,
            2px -2px 0 #4C3110,
            -2px 2px 0 #4C3110,
            2px 2px 0 #4C3110,
            0 -2px 0 #4C3110,
            0 2px 0 #4C3110,
            -2px 0 0 #4C3110,
            2px 0 0 #4C3110;
        }

        .blockImage {
            @apply size-62.5 absolute top-24 z-0;
            @apply bg-contain bg-center bg-no-repeat;
        }

        .blockDesc {
            @apply px-11 text-[#4C3110] text-lg leading-5.5 font-normal;
        }
    }

    .blockBtn {
        @apply w-71 h-18 flex items-center justify-center;
        @apply bg-[url(/src/assets/images/common/block_button_background.png)] bg-contain bg-center bg-no-repeat;

        & > div {
            @apply text-2xl leading-10 font-normal text-white;
            text-shadow: -2px -2px 0 #4C3110,
            2px -2px 0 #4C3110,
            -2px 2px 0 #4C3110,
            2px 2px 0 #4C3110,
            0 -2px 0 #4C3110,
            0 2px 0 #4C3110,
            -2px 0 0 #4C3110,
            2px 0 0 #4C3110;
        }
    }

    .blockBtnDisabled {
        @apply cursor-not-allowed;
        @apply bg-[url(/src/assets/images/common/block_button_background_disabled.png)];
    }
}
