@import "tailwindcss";

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.pageContainer {
    @apply flex items-start justify-center shrink basis-0 grow bg-black text-yellow-500 relative;
    @apply bg-[url('/src/assets/images/entrance_page/background.png')] bg-cover bg-center bg-no-repeat;

    .title {
        @apply w-190 h-96 mt-26.5;
        @apply bg-[url('/src/assets/images/entrance_page/title.png')] bg-contain bg-center bg-no-repeat;
    }

    .loadingPart {
        @apply absolute bottom-20 flex items-center justify-center;

        .progressBarWrapper {
            @apply w-200 h-9 z-1 absolute p-1 ;
            @apply bg-[url('/src/assets/images/entrance_page/progress_bar_background.png')] bg-cover bg-center bg-no-repeat;

            .progressBarContainer {
                @apply w-full h-full overflow-hidden rounded-2xl;

                .progressBar {
                    @apply -translate-x-[100%] w-full h-full;
                    @apply bg-[url('/src/assets/images/entrance_page/progress_bar.png')] bg-cover bg-center bg-no-repeat;
                }
            }
        }
    }

    .startButton {
        @apply w-114.5 h-5 invisible opacity-0 cursor-pointer;
        @apply bg-[url('/src/assets/images/entrance_page/start_button.png')] bg-contain bg-center bg-no-repeat;
    }
}
