@import "tailwindcss";

.overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
}

.modalContent {
    @apply bg-white rounded-xl shadow-2xl p-8 w-full max-w-md mx-auto flex flex-col gap-6 relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modalHeader {
    @apply flex items-center justify-between;
}

.modalTitle {
    @apply text-2xl font-bold text-gray-800;
}

.closeButton {
    @apply text-gray-400  transition-colors text-xl cursor-pointer;
    outline: none;
}

.input {
    @apply w-full px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 transition;
}

.submitButton {
    @apply w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-lg mt-2 transition cursor-pointer;
}
