@import "tailwindcss";

.overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
}

.modalContent {
    @apply w-176 h-154 flex flex-col absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pt-6.5 px-25 leading-10 focus-visible:outline-none;
    @apply bg-[url('/src/assets/images/entrance_page/login_modal_background.png')] bg-contain bg-left-top bg-no-repeat;
}

.modalHeader {
    @apply flex items-center justify-between;
}

.modalTitle {
    @apply shrink-0 text-[42px] font-normal text-center mb-15.5;
    background: linear-gradient(to bottom, #FEB109, #F2C661);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputGroup {
    @apply shrink-0 flex flex-col items-stretch;

    & > label {
        @apply text-[#3A2400] text-[30px] font-normal mb-2.5;
    }
}

.input {
    @apply text-[24px] font-normal text-white bg-[#5C4010] self-stretch rounded-2xl h-18 px-5 focus-visible:outline-none placeholder-[#8F703D];
}

.submitButton {
    @apply self-center shrink-0 cursor-pointer flex items-center justify-center text-white text-[35px] font-normal leading-10 mb-4 active:scale-95 transition;
    @apply w-101.5 h-25 ;
    @apply bg-[url('/src/assets/images/entrance_page/login_modal_confirm_button_background.png')] bg-contain bg-center bg-no-repeat;
}
